body {
  background-color: #00FF00;
}

.main_menu {
  background-color: red;
}

.main_menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main_menu li {
  display: inline;
  margin: 0 5px;
}

.main_menu a {
  color: #FFF;
  font-weight: bold;
  font-size: 20px;
}

.container {
  width: 70%;
  float: left;
}

.fullwidth {
  width: 100% !important;
}

sidebar {
  width: 30%;
  float: left;
}

.widget_title {
  color: blue;
}

article {
  border-bottom: 1px solid #000;
  background-color: #FFF;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

article .post_thumbnail img {
  height: 200px !important;
  object-fit: cover;
  margin-right: 10px;
}

article .post_thumbnail {
  float: left;
}

.paginacao {
  margin-top: 30px;
  margin-bottom: 30px;
}

.pagina_anterior {
  float: left;
}

.pagina_proxima {
  float: right;
}

footer {
  margin-top: 50px;
}

.comentario {
  border-bottom: 1px solid #CCC;
}

.comentario_foto {
  float: left;
  margin-right: 10px;
}

.post_related_item {
  width: 33%;
  float: left;
}

a img.custom-logo {
 width: 70px; 
 height: 70px;
 float: left;
 margin-right: 20px; 
}